<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-car" aria-hidden="true"></i> Welcome to Roadtripper!</h1>
        <p>View our hand-picked campgrounds from all over Texas</p>
        <p>
            <a href="/campgrounds/new" class="btn btn-lg btn-primary">Add New Campground</a>
        </p>
    </div>
</header>


<div class="row" style="display:flex; flex-wrap: wrap;">
   <!--  <div class="col-lg-12">
        <h3>Our Most Popular Campsites!</h3>
    </div> -->

    <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail thumbnail-pics">
                <img src="<%= campground.image %>">
                <div class="caption-pics">
                    <h3><a href="/campgrounds/<%= campground._id %>"><%= campground.name %></a></h3>
                    <p class="location"><%= campground.location %></p>
                </div>
            </div>
        </div>
    <% }); %>

</div>


<% include ../partials/footer %>